{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-8 align-self-end">
            <form id="classifyForm" class="form-inline justify-content-center">
                <div class="input-group input-group-btn mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input id="handle" type="text" class="form-control" placeholder="User's Screen_name">
                    <div class="input-group-append" id="button-addon4">
                        <button class="btn btn-primary">Classify user</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>