{% load static %}

<div class="jumbotron text-center">
    <img src="{% static 'splash_logo.png' %}">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-sm-10 center-block">
            <p class="text-left" style="font-size: 14px;">TwiRole is a hybrid model for role-related user classification on Twitter. <br/> It makes use of multiple classifiers and various types of features to predict the roles of users (i.e., female, male, and brand). <br/> TwiRole is a graduate research of the Global Event and Trend Archive Research (GETAR) project supported by NSF (IIS-1619028 and 1619371) in Digital Library Research Laboratory (DLRL) at Virginia Tech. </p>
        </div>
    </div>
</div>
